.carousel {
    width: 840px;
    height: 599px;
    /* position: relative; */
    /* margin-left: 10%; */
}
.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.carouselInner .left {
    flex: 5%;
    height: 100%;
    background-color: white; 
    display: grid;
    place-items: center;
    color: black;
}
.carouselInner .center {
    flex: 80%;
    height: 100%;
}
.carouselInner .right {
    flex: 5%;
    height: 100%;
    background-color: white;
    display: grid;
    place-items: center;
    color: black;
}
.expandedCarousel {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1200px;
    height: 750px;
    padding: 25%;
    background: rgba(0, 0, 0, 0.8);
}
.expandedCarouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.expandedCarouselInner .left {
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: start;
    color: black;
}
.expandedCarouselInner .center {
    flex: 80%;
    height: 100%;
    width: 50%;
}
.expandedCarouselInner .right {
    position:right;
    height: 100%;
    display: grid;
    place-items: start;
    color: black;
}

.thumbnails {
    position: relative;
    /* display: flex; */
    /* height: 60px;
    width: 840px; */
    height: 420px;
    width: 80px;
    margin-bottom: 150px;
    /* margin-left: 200px; */
    padding-right: 30px;
}

.images {
     width: 80px;
     height: 60px;
     padding: 10px;
     border-style: solid;
     border-width: thin;
     border-color: grey;
}